body {
    font-family: 'Open Sans';
}

#tests > table > thead > tr > th:nth-child(1) {
    width: 7em;
}
#tests > table > thead > tr > th:nth-child(2) {
    width: 4em;
}
body {
    margin:1.5em;
}
body > .segment {
    position: fixed !important;
    top:8px !important;
    bottom:8px !important;
    left:8px !important;
    right:8px !important;
    z-index:-1;
}

#footer {
    position:fixed;
    bottom:8px;
    right:24px;
}
#bar {
    -webkit-border-radius:0;
    border-radius:0;
}
.button.next {
    margin-bottom:1em;
    margin-left: 1em;
}

.right.button {
    float:right;
}

.answers .green.button {
    background:#5BBD72 !important;
}
.answers .red.button {
    background:#D95C5C !important;
}
.answers .button:not(.red):not(.green) {
    background: #EBEBEB !important;
    background-image: none !important;
}
